<div class="account">
    {% unless settings.disable_breadcrumbs %}
    <footer>
        <nav class="breadcrumb">
            <ul>
                <li>
                    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
                </li>

                <li data-breadcrumb-separator="/">
                    <a href="/account">{{ 'customer.account.title' | t }}</a>
                </li>

                <li data-breadcrumb-separator="/" class="active">
                    {{ 'customer.addresses.title' | t }}
                </li>
            </ul>
        </nav>
    </footer>
    {% endunless %}
    
    <h1 class="page-title">{{ 'customer.addresses.manage' | t }}</h1>

    <div class="inner">
        <section class="customer-addresses">
            {% paginate customer.addresses by 4 %}

            {% for address in customer.addresses %}
                <div class="customer-address">
                    <div class="current-address" id="view_address_{{ address.id }}">
                        <h3 class="address-street">
                            {{ address.street }}
                            {% if address == customer.default_address %}
                                <span class="default-address">({{ 'customer.addresses.default' | t }})</span>
                            {% endif %}
                        </h3>

                        <div class="address-details">
                            <p>{{ address.first_name }} {{address.last_name }}</p>
                            <p>{{ address.company }}</p>
                            <p>{{ address.street }}</p>
                            <p>{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}</p>
                            <p>{{ address.country }} {{ address.zip }}</p>
                            <p>{{ address.phone }}</p>

                            <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ address.id }});return false" class="button button-primary">
                                {{ 'customer.addresses.edit' | t }}
                            </a>
                            <a href="#" onclick="Shopify.CustomerAddress.destroy({{ address.id }});return false" class="button button-secondary">
                                {{ 'customer.addresses.delete' | t }}
                            </a>
                        </div>
                    </div>

                    <div id="edit_address_{{address.id}}" style="display:none;">
                        {% form 'customer_address', address %}
                            <div class="form-control">
                                <label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                                <input type="text" id="address_first_name_{{form.id}}" name="address[first_name]" value="{{ form.first_name }}">
                            </div>

                            <div class="form-control">
                                <label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                                <input type="text" id="address_last_name_{{form.id}}" name="address[last_name]" value="{{ form.last_name }}">
                            </div>

                            <div class="form-control">
                                <label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
                                <input type="text" id="address_company_{{form.id}}" name="address[company]" value="{{ form.company }}">
                            </div>

                            <div class="form-control">
                                <label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
                                <input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{ form.address1 }}">
                            </div>

                            <div class="form-control">
                                <label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
                                <input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{ form.address2 }}">
                            </div>

                            <div class="form-control">
                                <label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
                                <input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{ form.city }}">
                            </div>

                            <div class="form-control">
                                <label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
                                <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                            </div>

                            <div id="address-province-container-{{ address.id }}" class="address-province-container" style="display: none">
                                <div class="form-control">
                                    <label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
                                    <select id="address_province_{{form.id}}" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                                </div>
                            </div>

                            <div class="form-control">
                                <label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                                <input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{ form.zip }}">
                            </div>

                            <div class="form-control">
                                <label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                                <input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{ form.phone }}">
                            </div>

                            <div class="form-control">
                                <label>
                                    {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
                                </label>
                            </div>

                            <div class="action-bottom">
                                <input class="button button-primary button-submit" type="submit" value="{{ 'customer.addresses.update' | t }}" />
                                <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
                            </div>
                        {% endform %}
                    </div>
                </div>
            {% endfor %}

            {% if paginate.pages > 1 %}
                {% include 'pagination' %}
            {% endif %}

            {% endpaginate %}
        </section>

        <section class="new-address">
            <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" class="button button-primary button-submit">
                {{ 'customer.addresses.add' | t }}
            </a>

            <div id="add_address" style="display: none">
                {% form 'customer_address', customer.new_address %}
                <div class="form-control">
                    <label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
                    <input type="text" id="address_first_name_{{form.id}}" name="address[first_name]" value="{{ form.first_name }}">
                </div>

                <div class="form-control">
                    <label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
                    <input type="text" id="address_last_name_{{form.id}}" name="address[last_name]" value="{{ form.last_name }}">
                </div>

                <div class="form-control">
                    <label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
                    <input type="text" id="address_company_{{form.id}}" name="address[company]" value="{{ form.company }}">
                </div>

                <div class="form-control">
                    <label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
                    <input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{ form.address1 }}">
                </div>

                <div class="form-control">
                    <label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
                    <input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{ form.address2 }}">
                </div>

                <div class="form-control">
                    <label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
                    <input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{ form.city }}">
                </div>

                <div class="form-control">
                    <label for="address_country_new">{{ 'customer.addresses.country' | t }}</label>
                    <select id="address_country_new" name="address[country]" data-default="{{form.country}}">{{ country_option_tags }}</select>
                </div>

                <div id="address-province-container-new" class="address-province-container" style="display: none">
                    <div class="form-control" id="address-province-container-new">
                        <label for="address_province_new">{{ 'customer.addresses.province' | t }}</label>
                        <select id="address_province_new" class="address_form" name="address[province]" data-default="{{form.province}}"></select>
                    </div>
                </div>

                <div class="form-control">
                    <label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
                    <input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{ form.zip }}">
                </div>

                <div class="form-control">
                    <label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
                    <input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{ form.phone }}">
                </div>

                <div class="form-control">
                    <label>
                        {{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
                    </label>
                </div>

                <div class="action-bottom">
                    <input class="button button-primary button-submit" type="submit" value="{{ 'customer.addresses.add' | t }}" />
                    <span class="note"> or <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></span>
                </div>
                {% endform %}
            </div>
        </section>
    </div>
</div>

<script>
    // initialize observers on address selectors
    new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address-province-container-new'});

    {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address-province-container-{{address.id}}'});
    {% endfor %}
</script>
