<div class="account">
    {% unless settings.disable_breadcrumbs %}
    <footer>
        <nav class="breadcrumb">
            <ul>
                <li>
                    <a href="/">{{ 'general.breadcrumbs.home' | t }}</a>
                </li>

                <li data-breadcrumb-separator="/" class="active">
                    {{ 'customer.reset_password.title' | t }}
                </li>
            </ul>
        </nav>
    </footer>
    {% endunless %}

    <h1 class="page-title">{{ 'customer.reset_password.title' | t }}</h1>

    <div class="inner">
        <section class="reset-password">
            {% form 'reset_customer_password' %}

            {% if form.errors %}
                <p class="alert-box alert-error">
                    <span class="alert-title">{{ 'general.forms.oops' | t }}</span>
                    {{ form.errors | default_errors | strip_html }}
                </p>
            {% endif %}

            <div class="form-control">
                <label for="password">{{ 'customer.reset_password.password' | t }} :</label>
                <input type="password" name="customer[password]" value="">
            </div>

            <div class="form-control">
                <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }} :</label>
                <input type="password" name="customer[password_confirmation]" value="">
            </div>

            <button type="submit" class="button button-submit">{{ 'customer.reset_password.submit' | t }}</button>

            {% endform %}
        </section>
    </div>
</div>